dj-database-url
Django
gunicorn
daphne
psycopg2
whitenoise
asgi-redis==1.3.0
asgiref
attrs
autobahn
Automat
channels
constantly
incremental
msgpack-python
redis
six
Twisted
txaio
zope.interface
txredisapi
