dj-database-url
Django
gunicorn
daphne
psycopg2
whitenoise
asgi-redis -e git+https://github.com/django/asgi_redis.git@96f9582536343c05d6f25cdd2316d4e4724aa309
asgiref
attrs
autobahn
Automat
channels
constantly
incremental
msgpack-python
redis
six
Twisted
txaio
zope.interface
txredisapi
