dj-database-url
Django
gunicorn
daphne
psycopg2
whitenoise
-e git://github.com/django/asgi_redis.git@96f9582536343c05d6f25cdd2316d4e4724aa309#egg=github
asgiref
attrs
autobahn
Automat
channels
constantly
incremental
msgpack-python
redis
six
Twisted
txaio
zope.interface
txredisapi
django_extensions
django_widget_tweaks
