{% extends "base.html" %}

{% load static widget_tweaks %}

{% block header %}
    <link rel="stylesheet" href="{% static "sensors/css/style.css" %}">
    <script type="text/javascript">
    averages = {{ averages }};
    sensors_nums = {{ sensor_labels | safe }};
    counts = {{ counts }};
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="{%  static 'stats/js/avg_chart.js' %}"></script>
    <script src="{% static 'stats/js/stats.js' %}"></script>
{% endblock %}

{% block content %}
    <canvas id="chart" width="200" height="100"></canvas>
    {% for sensor in sensor_labels %}
        <div id={{ sensor }}></div>
    {% endfor %}
{% endblock %}
