.text-center {
  text-align: center;
}

.block-center {
  padding: 30vh 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}
