{% extends "base.html" %}

{% load static widget_tweaks %}

{% block header %}
  <link rel="stylesheet" href="{% static "sensors/css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/map.css" %}">

  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
{% endblock %}

{% block content %}
  <h3>Map with Sensors</h3>
  <div id="map"></div>

  <div>
    <h3>Marker:</h3>
    <h5 id="markerInfo"></h5>
  </div>

{% endblock %}

{% block script %}
  <script>
    var sensors_list = {{ sensors_list|safe }};
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}"></script>
  <script type="text/javascript" src="{% static 'js/heatmap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/gmaps-heatmap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}