{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <h2>CO Sensor</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <h5>Django</h5>
      </div>
      <div class="one-third column">
        <h5>Raspberry Pi</h5>
      </div>
      <div class="one-third column">
        <h5>Arduino Uno</h5>
      </div>
    </div>
  </div>
  {% if not user.is_authenticated %}
  <div class="container">
    <div class="row flex-row flex-center">
      <div class="flex-column">
        <a class="button button-primary" href="{% url 'login' %}">Log In</a>
        <a class="button" href="{% url 'signup' %}">Sign Up</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
